body {


    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url(./Photos/pexels-leon-ardho-1552242.jpg);
    height: auto;
    background-repeat: no-repeat;

    background-size: cover;

}

.navbar {
    display: inline-block;
}

.navbar li {

    display: inline-block;
    font: 25px;
}

.navbar li a {
    color: white;
    
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {

    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.left {
    position: absolute;
    left: 30px;
    top: 20px;
    display: inline-block;
    border: 5px solid rgb(90, 89, 90);
    color: rgb(174 170 174);
    

}

.left img {
    width: 105px;
    filter:unset;
    

}

.left div {
    line-height: 26px;

    font-size: 14px;

    text-align: center;
}

.mid {
    color: rgb(255, 0, 0);
    display: block;
    width: 42%;
    margin: 20px auto;
    /*border: 5px solid rgb(94, 255, 0);*/


}

.right {

    position: absolute;
    right: 10px;
    top: 60px;
    display: inline-block;


}

.btn {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 6px 19px;
    border: 3px solid rgb(174 170 174);
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
}

.btn:hover {
    background-color: gray;
    color: black;
    font-weight: bold;
    border: 3px solid white;
}

.container {
    border: 6px solid rgb(174 170 174);
    margin: 52px auto;
    padding: 94px 140px;
    width: 21%;
    border-radius: 20px;
    
    
}

.container {
    text-align: justify;



}

.form-group input {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: block;
    width: 105%;
    padding: 3px;
    border: 1px solid black;
    margin: 3px auto;
    font-size: 15px;
    border-radius: 15px;
}

.container button {
    display: block;
    width: 48%;
    margin: 15px auto;
}

.container h1 {
    border: 3px solid rgb(174 170 174);
    border-radius: 18px;
    padding: 30px;
    text-align: center;
    color: rgb(174 170 174);
}